#sum, #scale {
    width: 100%;
    text-align: center;
    padding-bottom: 3rem;
}

#sum, #sum__answer{
    font: 2rem bold Times;
}

#sum__answer {
    width:3rem;
    height: 2rem;
    border: 1px lightgray solid;
    border-radius: 4px;
}

#scale div {
    position: relative;
    width: 100%;
    height: 12rem;
    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
    background-position: bottom center;
}
#scale label {
    position: absolute
}
#scale input {
    width:15px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.none {
    display: none;
}